aiofiles==0.8.0; python_version >= "3.6" and python_version < "4.0"
anyio==3.6.1; python_full_version >= "3.6.2" and python_version >= "3.7"
certifi==2022.6.15; python_version >= "3.7"
h11==0.13.0; python_version >= "3.7"
httpcore==0.15.0; python_version >= "3.7"
httpx==0.23.0; python_version >= "3.7"
idna==3.3; python_version >= "3.7" and python_full_version >= "3.6.2"
pydantic==1.9.1; python_full_version >= "3.6.1"
pygments==2.12.0; python_version >= "3.6"
rfc3986==2.0.0; python_version >= "3.7"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.7"
typing-extensions==4.3.0; python_version >= "3.7" and python_full_version >= "3.6.1"
